<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
</head>
<body>

  <div class="content">
    <div class="circle"></div>
    <div class="info">
      <h1>Juan Pablo</h1>
      <h2>Ortiz Ballina</h2><br>
      <p>Tengo 20 años y soy un estudiante en desarrollo de software multiplataforma, disfruto pasar el rato aprendiendo muchas cosas nuevas.</p><br>
      <p>Actualmente, me encuentro estudiando redes de manera autodidacta, ya que está orientado a mis gustos.</p>
      <br>
      <div class="row">
        <a class="btn yt" href="https://www.youtube.com/@napalm_code">Youtube</a>
        <a class="btn ig" href="https://www.instagram.com/jupaballina/">Instagram</a>
      </div>
    </div>
  </div>
  
</body>
</html>